<h1> Square Root Form </h1>

<form action="/square_root/results">
  <label for="sqrt_num">Enter a number</label>
  <input id="sqrt_num" type="text" placeholder="What number do you want to square root?" name ="number">

  <button> Calculate square root</button>
</form>
