<h1> Howdy</h1>

<form>
  <label for="square_num">Enter a number</label>
  <input id="square_num" type="text" placeholder="What number do you want to square?" name ="number">

  <button> Calculate square</button>
</form>
